# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv

# Secrets
.env

# Database
*.db

# Generated strategies
strategy/generated/*.py
!strategy/generated/.gitkeep

# IDE
.vscode/
.idea/

*.log